<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }
    </style>
</head>
<body>

<div style="text-align: center;"><h1>Social Bookstore App</h1></div>
<div class="center-content">
<h2>Login</h2>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br>
    <br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password"><br>
    <br>
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-3">Log In</button>
    <div style="text-align: center;"> Or </div>
    <br>
    <a href="/register" class="btn btn-primary btn-block mb-3">Register</a>
</form>
</div>
</body>
</html>