<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book Offers Page</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .center-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }
    </style>
</head>
<body>

<div style="text-align: center;">
    <h1>Social Bookstore App</h1>
    <div>
        <a th:href="@{/homepage}" class="btn btn-primary btn-sm mb-3" style="padding: 8px 20px;font-size: 16px;">Back To Homepage</a>
        <a th:href="@{/book-offers}" class="btn btn-primary btn-sm mb-3" style="padding: 8px 20px;font-size: 16px;">Back To Book Offers</a>
        <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3" style="padding: 8px 20px;font-size: 16px;">Logout</a>
    </div>
</div>
<div class="center-content">
    <div class="container">
        <h2 th:if="${not #lists.isEmpty(bookRequests)}">Book Requests for "<span th:text="${bookRequests.get(0).getBookTitle()}"></span>"</h2>
        <h2 th:unless="${not #lists.isEmpty(bookRequests)}">No Book Requests Found</h2>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Requesting User</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tbody>
            <tr th:each="bookRequest: ${bookRequests}">
                <td th:text="${bookRequest.id}"></td>
                <td th:text="${bookRequest.requestingUserUsername}"></td>
                <td th:text="${bookRequest.status}"></td>
                <td>
                    <div class="row">
                        <div class="column">
                            <form th:action="@{/book-offers/requests}" method="post">
                                <input type="hidden" name="bookRequestId" th:value="${bookRequest.id}">
                                <input type="hidden" name="bookId" th:value="${bookRequest.getBookOfferId()}">
                                <button type="submit" class="btn btn-primary mb-2 primaryButton"
                                        onclick="return confirm('Are you sure you want to accept the request from this user? The other requests will be automatically denied')">
                                    Accept Request
                                </button>
                            </form>
                        </div>
                        <div class="column">
                            <a th:href="@{/book-offers/requests/contact-info(bookId=${bookRequest.getBookOfferId()}, requestingUserUsername=${bookRequest.requestingUserUsername})}"
                               class="btn btn-primary mb-2 primaryButton">
                                View Contact Details
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>