<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .center-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }
    </style>
</head>
<body>

<div style="text-align: center;">
    <h1>Social Bookstore App</h1>
    <div>
        <a th:href="@{/profile}" class="btn btn-primary btn-sm mb-3" style="padding: 8px 20px;font-size: 16px;">View Profile</a>
        <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3" style="padding: 8px 20px;font-size: 16px;">Logout</a>
    </div>
</div>
<div class="center-content">
    <h2>Home Page</h2>
    <div>
        <a href="" class="btn btn-primary btn-block mb-3">Add Book Offer</a>
<!--        <a href="" class="btn btn-primary btn-block mb-3">View Book Requests</a>-->
        <a href="" class="btn btn-primary btn-block mb-3">Browse Book Offers</a>
        <a href="" class="btn btn-primary btn-block mb-3">Search Book Offers</a>
    </div>

</div>
</body>
</html>